dist: bionic
services:
  - xvfb
language: node_js
node_js:
  - "12.16.0"
cache:
  directories:
    - $HOME/.npm
    - node_modules
branches:
  except:
    - "/^v\\d+\\.\\d+\\.\\d+$/"

before_install:
  - sudo apt-get install -y google-chrome-stable
install:
  - npm ci

script:
  - npm test
  - npm build

notifications:
  email: true
